.whiteboard-header{
    position: fixed;
    top: 20px;
    height: 7vh;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 7vh;
    // left: calc(50% - 76px);
    z-index: 15500;
    cursor: pointer;
    // top: 0;
    // left:0;
    box-shadow: 0px 7px 14px rgb(0 0 0 / 5%), 0px 0px 3.12708px rgb(0 0 0 / 8%), 0px 0px 0.931014px rgb(0 0 0 / 17%) !important;
    .header-icon
      {
        transform: rotate(90deg);
        font-size: 16px;
      }
      .header-icon.minus_90{
        transform:rotate(-90deg)
      }
}

.color-size-box{
    height: 650px;
    cursor: default;
    width: 156px;
    background-color: white;
    position: fixed;
    top: 90px;
    left: 1%;
    z-index: 15500;
    box-shadow: 0px 7px 14px rgba(0,0,0,.05),0px 0px 3.12708px rgba(0,0,0,.08),0px 0px 0.931014px rgba(0,0,0,.17)!important;
}

.color-card{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    cursor: pointer;
    background-color: beige;
    border: 1px solid #d3cdcd;
}

.color-box1{
//    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns with equal width */
    grid-template-rows: repeat(10, 1fr); /* Creates ten rows with equal height */
    gap: 10px; 
    padding: 10px;
   
}
.size-box{
    display: flex;
    height: 300px;
    flex-direction: column;
    margin-top: 15px;
    // width: 256px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.blur_effect {
    // filter: blur(4px);
    border-radius: 10px;
    background-color: #d7d7d7;
    cursor: pointer;
}
.size-1{
   height: 8px;
   width: 50%;
}
.size-2{
    height: 8px;
    width:55%;
}
.size-3{
    height: 8px;
    width: 60%;
}
.size-4{
    height: 8px;
    width: 65%;
}
.size-5{
    height: 8px;
    width: 70%;
}
.size-6{
    height: 8px;
    width: 73%;
}
.size-7{
    height: 8px;
    width: 76%;
}
.size-8{
    height: 8px;
    width: 79%;
}
.size-9{
    height: 8px;
    width: 82%;
}
.size-10{
    height: 8px;
    width: 85%;
}
// .size-11{
//     height: 18px;
//     width: 18px;
// }
// .size-12{
//     height: 19px;
//     width: 19px;
// }
.size-13{
    height: 8px;
    width: 88%;
}
.size-14{
    height: 8px;
    width: 91%;
}
.size-15{
    height: 8px;
    width: 94%;
}
.size-16{
    height: 8px;
    width: 97%;
}
.size-17{
    height: 8px;
    width: 100%;
}
