.whiteboard-header{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    width: 153px;
    left: calc(50% - 76px);
    z-index: 15500;
    cursor: pointer;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 0;
    box-shadow: 0px 7px 14px rgb(0 0 0 / 5%), 0px 0px 3.12708px rgb(0 0 0 / 8%), 0px 0px 0.931014px rgb(0 0 0 / 17%) !important;
    .header-icon
      {
        transform: rotate(90deg);
        font-size: 16px;
      }
      .header-icon.minus_90{
        transform:rotate(-90deg)
      }
}

.color-size-box{
    height: 85px;
    cursor: default;
width: 447px;
background-color: #ffff;
position: absolute;
top: 47px;
z-index: 15500;
box-shadow: 0px 7px 14px rgba(0,0,0,.05),0px 0px 3.12708px rgba(0,0,0,.08),0px 0px 0.931014px rgba(0,0,0,.17)!important;
}

.color-card{
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: beige;
    border: 1px solid #d3cdcd;
}

.color-box1{
   display: flex;
   justify-content: space-between;
   padding: 10px;
   
}
.size-box{
    height: 20px;
    display: flex;
    margin-top: 15px;
    // width: 256px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.blur_effect {
    // filter: blur(4px);
    border-radius: 50%;
    background-color: #d7d7d7;
    cursor: pointer;
}
.size-1{
   height: 8px;
   width: 8px;
}
.size-2{
    height: 9px;
    width: 9px;
}
.size-3{
    height: 10px;
    width: 10px;
}
.size-4{
    height: 11px;
    width: 11px;
}
.size-5{
    height: 12px;
    width: 12px;
}
.size-6{
    height: 13px;
    width: 13px;
}
.size-7{
    height: 14px;
    width: 14px;
}
.size-8{
    height: 15px;
    width: 15px;
}
.size-9{
    height: 16px;
    width: 16px;
}
.size-10{
    height: 17px;
    width: 17px;
}
.size-11{
    height: 18px;
    width: 18px;
}
.size-12{
    height: 19px;
    width: 19px;
}
.size-13{
    height: 20px;
    width: 20px;
}
.size-14{
    height: 21px;
    width: 21px;
}
.size-15{
    height: 22px;
    width: 22px;
}
.size-16{
    height: 23px;
    width: 23px;
}
.size-17{
    height: 24px;
    width: 24px;
}
